{% extends "projects/base.html" %}
{% block content %}
        <article class="media content-section section-1-container section-container pad text-center">
          <div class="media-body bg-secondary">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ projects.author }}</a>
              <small class="dc">{{ projects.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ projects.title }}</a></h2>
            <p class="article-content">{{ projects.description }}</p>
          </div>
          <a href = "{{projects.contract|safe}}"class="btn btn-success btn-lg">
            <btn onclick="{{projects.contract|safe}}" type="button" >Donate</btn>
          </a>
          </article>
          {% for image in projects.imageSet.all %}
            <img src="{{image.image.url}}">
          {% endfor %}

{% endblock content%}