{% extends "projects/base.html" %}
{%load crispy_forms_tags %}
{%block page%}
           <h1 class="text-white center">Register <span class="text-success">Today</span></h1>
{%endblock%}
{%block content%}

<div class="section-1-container section-container pad">
    <div class="container pad">
        <div class="row">
            <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center pad">
                <div class="div-to-align" style ="padding-top: 100px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;">
                    <form method="POST" class="bg-light ">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4 p-2"> Join Today</legend>
                                {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info p-2" type="submit"> Sign Up</button>
                        </div>
                    </form>
        <div class="border-top pt-3">
            <small class="text-white p-2 text-white">
                Already have an account? <a class="ml-2" href="#">Sign in</a>
            </small>
        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}